<section id="about">

  <div class="col-md-6">
    <h1>
      Hi, I'm Jaclyn!
    </h1>
    <p>
      I am a Full-Stack Web Developer with a passion for interactive media and experience overseeing & managing web content.
    </p>
  </div>

  <div class="col-md-6 main-img">
    <img src="https://scontent-a.xx.fbcdn.net/hphotos-prn2/1393666_10201145369539817_1120271368_n.jpg" class="img-rounded img-responsive"/>
  </div>

</section>
