<section id="about" >
  <div class="row span12">
    <h1 style="text-align: center">
      About me
    </h1>
    <br>
    <div class="col-md-4 img-responsive">
      <img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-prn2/1393666_10201145369539817_1120271368_n.jpg" class="img-rounded img-responsive transp"/>
    </div>
    <p>
      I'm a quick learner and a tech lover with a diverse set of skills. I take pride in my work and strive to build quality projects that are fully tested, aesthetically appealing and have a strong back-end foundation. I began teaching myself web development in mid-2013 and fell in love with it, so I made the decision to immerse myself in it and commit to a full-time intensive course at General Assembly. There, I spent more than 50 hours a week building projects and learning best practices in full-stack Rails & JavaScript development. I am very proud of how far I have come in such a short amount of time and am excited to continue endlessly learning and building!<br><br>
      Before deciding to become a developer, I have gained over 3 years of professional experience executing interactive initiatives utilizing a diverse set of technical, writing, design, and problem solving skills as a project coordinator for websites and live events.<br><br>
      When I'm not coding, I am usually indulging in my obsession with video games, whether it be playing them, talking about them, or attending conferences or tournaments.<br> <br><br>
    </p>



  </div>
</section>
