<section id="about" >
  <div class="row span12">
    <h1 style="text-align: center">
      About Me
    </h1>
    <p class="col-md-12">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a quick learner and tech lover with a diverse skill set. I began teaching myself programming in mid-2013 and fell in love with it, so I made the decision to commit to a full-time immersive course at <a href="https://generalassemb.ly/education/web-development-immersive" target="_blank">General Assembly</a>. There, I spent more than 60 hours a week building projects and learning best practices in full-stack Rails & JavaScript development. I am very proud of how far I have come in the 3 month bootcamp and am excited to continue endlessly learning and building!<br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.linkedin.com/in/jaclynejimenez" target="_blank">Before deciding to become a developer</a>, I gained over 3 years of professional experience executing online initiatives while utilizing a diverse set of technical, writing, design, and problem solving skills. For more information please <a href="Jaclyn_Jimenez_Resume_2013.pdf" target="_blank">view my resume</a>.
    </p>
  </div>
</section>
