<!-- <footer class="col-md-12">
  <p>About This Site<br>
  This website and all its content, design and code are ©2013 Jaclyn Jimenez. It was coded by hand using Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, sapiente, delectus, cupiditate distinctio tenetur natus rerum error reiciendis deleniti atque iste eaque cumque repudiandae! Illum doloremque fugiat quia tenetur sit?</p>
</footer>
 -->
