<div id="jnav">
<!--   nav is given the navbar fixed top class -->
  <nav class="nav navbar nav-bg col-sm-12" role="navigation">

      <ul class="navbar-brand col-sm-4">
        <li class="col-sm-12">
          <a href="/">
            Jaclyn E. Jimenez
          </a>
        </li>
      </ul>

      <ul class="navbar-left col-sm-5">
        <li class="col-sm-4" id="about-nav">
          <a class="blue-hover" href="#about">
            ABOUT
          </a>
        </li>

        <li class="col-sm-4" id="work-nav">
          <a class="blue-hover" href="#work">
            WORK
          </a>
        </li>

        <li class="col-sm-4" id="contact-nav">
          <a class="blue-hover" href="#contact">
            CONTACT
          </a>
        </li>

      </ul>

      <table class="col-sm-2" id="navbar-right">
        <tr class="navbar-right">
          <td class="col-sm-3">
            <a href="http://twitter.com/jaclynejimenez">
            <%= image_tag "twitter.svg", class: "icon-img img-responsive" %>
            </a>
          </td>

          <td class="col-sm-3">
            <a href="http://github.com/jaclynj">
              <%= image_tag "github.svg", class: "icon-img img-responsive" %>
            </a>
          </td>

          <td class="col-sm-3">
            <a href="http://www.linkedin.com/in/jaclynejimenez/">
              <%= image_tag "linkedin.svg", class: "icon-img img-responsive" %>
            </a>
          </td>

          <td class="col-sm-3">
            <a href="mailto:jaclynejimenez@gmail.com">
              <%= image_tag "mail.svg", class: "icon-img img-responsive" %>
            </a>
          </td>
        </tr>
      </table>

  </nav>
</div>
