<section id="work">
  <div class="row span12">
  <h1 style="text-align: center">
    My Work
  </h1>
    <table class="table table-responsive">
      <tr class="row span12">

        <td class="col-md-12">
          <div class="work-img skill-savvy">
            <a href="http://skillsavvy.herokuapp.com"  target="_blank"><img class="img-responsive" src="http://puu.sh/69RZH.png"></a>
          </div>
          <h3>Full Stack Developer, </h3><h2>
            <a href="http://skillsavvy.herokuapp.com"  target="_blank">Skill Savvy</a>
          </h2>
          <p>
            <a href="http://skillsavvy.herokuapp.com"  target="_blank">Skill Savvy</a> is a tutorial search site that helps you find the best tutorials for your skill level, as rated by others. You can filter your search by the sources that have been most recommended by users of different skill levels, and rate tutorials based on their usefulness.</p>
            <div class="tools"><h4>Tools Used:</h4> Ruby on Rails, BackboneJS, Javascript, JQuery, AJAX, BounceWeb API, PostgreSQL, HTML5, CSS3, HAML, Bootstrap, Capybara, Rspec, Git, GitHub, Heroku
          </div>
        </td>
      </tr>


      <tr class="row span12">

        <td class="col-md-12">
          <div class="work-img dancing-cities">
            <a href="http://www.dancingcities.com"  target="_blank"><img class="img-responsive" src="http://puu.sh/5wUU4.png"></a>
          </div>
          <h3>Back-End Lead & Project Manager, </h3><h2>
            <a href="http://www.dancingcities.com"  target="_blank"> Dancing Cities</a>
          </h2>
          <p>
            <a href="http://www.dancingcities.com"  target="_blank">Dancing Cities</a> is an interactive 3D experience through a virtual city that 'moves' to music. The city is generated dynamically using NYC data including the current weather, latitude and longitude points representing popular locations, and recent tweets sent from NYC.
            </p>
            <div class="tools"><h4>Tools Used:</h4> Ruby on Rails, Javascript, ThreeJS, AJAX, PostgreSQL, HTML5, CSS3, SoundCloudAPI, WebAudioAPI, Foursquare API, Twitter API, Yahoo Weather API, Geolocation, Pivotal Tracker, Git, Github, Heroku
            </div>
        </td>
      </tr>
      <!-- <tr class="row span12">
        <td class="col-md-12">
          <h2 >
            <a href="http://geekout.herokuapp.com">Geek Out</a>
          </h2>
          <div class="work-img">
            <a href="http://geekout.herokuapp.com"><img class="img-responsive" src="http://puu.sh/5x4yz.png">
          </div></a>
          <p>
            Built in less than a week, <a href="http://geekout.herokuapp.com">GeekOut</a> was my first project after only 3 weeks of developer training. It was built with Ruby on Rails, HTML & CSS, and utilizes a complex SQL database to associate and filter events with tags related to specific interests. Users can filter by single or multiple tags to find local events related to their passions.
          </p>
        </td>
      </tr> -->
  </table>

</div>
</section>

