<section id="work">
  <h1 style="text-align: center">
    My Work
  </h1>
    <table class="table table-responsive">
      <tr class="col-md-12">
        <td class="col-md-6">
          <h3 >
            Geek Out
          </h3>
          <img class="work-img" src="http://puu.sh/5x4yz.png">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, odit sapiente nam dignissimos ea facere incidunt recusandae atque delectus repellat rerum cumque maxime alias sit deserunt harum possimus iusto ullam
          </p>
        </td>

        <td class="col-md-6">
          <h3>
            Dancing Cities
          </h3>
          <img class="work-img" src="http://puu.sh/5wUU4.png">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, odit sapiente nam dignissimos ea facere incidunt recusandae atque delectus repellat rerum cumque maxime alias sit deserunt harum possimus iusto ullam!
          </p>
        </td>
      </tr>

  </table>
</section>

