<section id="work">
  <h1>
    My Work
  </h1>
    <br>

    <table class=".table .table-responsive">
      <tr class="col-md-4">
        <td>
          <img class="work-img" src="http://puu.sh/5x4yz.png">
          <h4>
            Geek Out
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, odit sapiente nam dignissimos ea facere incidunt recusandae atque delectus repellat rerum cumque maxime alias sit deserunt harum possimus iusto ullam
          </p>
        </td>
      </tr>

      <tr class="col-md-4">
        <td>
          <img class="work-img" src="http://puu.sh/5wUU4.png">
          <h4>
            Dancing Cities
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, odit sapiente nam dignissimos ea facere incidunt recusandae atque delectus repellat rerum cumque maxime alias sit deserunt harum possimus iusto ullam!
          </p>
        </td>
      </tr>

      <tr class="col-md-4">
        <td>
          <img class="work-img" src="http://puu.sh/5wUU4.png">
          <h4>
            Dancing Cities
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, odit sapiente nam dignissimos ea facere incidunt recusandae atque delectus repellat rerum cumque maxime alias sit deserunt harum possimus iusto ullam!
          </p>
        </td>
      </tr>

  </table>
</section>

