<section id="work">
  <h1 style="text-align: center">
    My Work
  </h1>
    <table class="table table-responsive">
      <tr class="row span12">

        <td class="col-md-6">
          <h3>
            <a href="http://www.dancingcities.com">Dancing Cities</a>
          </h3>
          <div class="work-img">
            <a href="http://www.dancingcities.com"><img class="img-responsive" src="http://puu.sh/5wUU4.png"></a>
          </div>
          <p>
            <a href="http://www.dancingcities.com">Dancing Cities</a> is an interactive 3D experience through a virtual city that 'moves' to music. The city is generated dynamically using NYC data including the current weather, latitude and longitude points that represent locations within the city, and recent tweets sent from NYC. For this project I was part of a two-woman team, where I acted as Back-End Lead and Project Manager, responsible for the Rails project and data integration.
          </p>
        </td>

        <td class="col-md-6">
          <h3 >
            <a href="http://geekout.herokuapp.com">Geek Out</a>
          </h3>
          <div class="work-img">
            <a href="http://geekout.herokuapp.com"><img class="img-responsive" src="http://puu.sh/5x4yz.png">
          </div></a>
          <p>
            Built in less than a week, <a href="http://geekout.herokuapp.com">GeekOut</a> was my first project after only 3 weeks of developer training. It was built with Ruby on Rails, HTML & CSS, and utilizes a complex SQL database to associate and filter geeky events with tags related to specific interests. Users can filter by single or multiple tags to find local events related to their passions.
          </p>
        </td>

      </tr>

  </table>
  <h3><a href="https://github.com/jaclynj">View my work on GitHub </a></h3>
</section>

