body {
  background-image: url('http://www.freefever.com/stock/white-parchment-paper-texture.jpg');
}

.cover {
  margin: 0 auto;
  background-color: #2E3B48;
  height: 200px;
}

.cover img {
  width: 100%;
}

.main-img {
  height: 400px;
  overflow: hidden;
}

.work-img {
  height: 160px;
  overflow: hidden;
}

.icon-img {
  height: 25px;
  display: inline-block;
}

.icon-img:hover{
  -webkit-filter: drop-shadow(1px 1px 2px rgba(200,200,200,1.0));
}

.jnav {
  margin-top: 10px;
}

section {
  height: 400px;
  padding: 30px;
  margin: 25px auto;
  border-radius: 8px;
}

footer {
  padding: 20px;
  margin-top: 15px;
  background-color: #2E3B48;
  height: 200px;
  color: #D4D9EB;
}
