html {
  webkit-box-sizing: none;
  -moz-box-sizing: none;
  box-sizing: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.content {
  display: none;
}

#loading {
  top: 200px;
  left: 45%;
  width: 256px;
  height: 100%;
  margin: auto;
  position: absolute;
  z-index: 1000;
  background: url("loader.gif");
  background-repeat: no-repeat;
  cursor: wait;
}

#all {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #403F3C;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #FFFBEF;
  letter-spacing: 0.5px;
  background-image: url('sand.jpg');
  background-attachment: fixed;
  height: 100%;
}

#all h1, h3, h4, h5, h6 {
  color: #403F3C;
  font-family: 'Francois One', sans-serif;
}

#all h1 {
  font-size: 2.2em;
  margin-bottom: 4%;
}
.top-cover {
  min-height: 100%;
  width: 100%;
/*  background-color: #399FA8;*/
  background-image: url("nyc-wallpaper.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  margin: 0 auto;
  color: #FFFBEF;
  text-align: center;
  line-height: 1.5em;
  font-size: 2.5em;
  text-shadow: 0.1em 0.1em 0.25em #403F3C;
}

#intro {
/*  min-height: 100%;*/
position: absolute;
vertical-align: middle;
margin: 3%;
}

#intro h1 {
  font-family: 'Hammersmith One', cursive;
  color: #FFFAF0;
  font-size: 1.8em;
}

#jackieIMG {
  max-height: 90%;
  margin: 0 5%;
  overflow: hidden;
  bottom: 0;
  right: 0;
  position: absolute;
/*  min-height: 100%;*/
}

#jackieIMG img {
  width: 100%;
  }

#all a {
  color: #40B5B1;
  text-decoration: none;
}

#all a:hover {
  color: #2A8188;
}

.transp {
  opacity: .9;
}

#all .container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

table tr td {
  border-top: 0;
  border: none;
  border-color: transparent !important;
}


/*footer {
  padding: 20px;
  margin-top: 15px;
  background-color: #00717D;
  height: 200px;
  color: #FFF5FC;
  letter-spacing: 1px;
}*/

/*.btn-custom {
  background-color: hsl(187, 49%, 43%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3da4b2", endColorstr="#3796a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3da4b2), to(#3796a3));
  background-image: -moz-linear-gradient(top, #3da4b2, #3796a3);
  background-image: -ms-linear-gradient(top, #3da4b2, #3796a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3da4b2), color-stop(100%, #3796a3));
  background-image: -webkit-linear-gradient(top, #3da4b2, #3796a3);
  background-image: -o-linear-gradient(top, #3da4b2, #3796a3);
  background-image: linear-gradient(#3da4b2, #3796a3);
  border-color: #3796a3 #3796a3 hsl(187, 49%, 42%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}*/

/*.btn-custom:hover {
  background-color: hsl(187, 49%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#297079", endColorstr="#24626a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#297079), to(#24626a));
  background-image: -moz-linear-gradient(top, #297079, #24626a);
  background-image: -ms-linear-gradient(top, #297079, #24626a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #297079), color-stop(100%, #24626a));
  background-image: -webkit-linear-gradient(top, #297079, #24626a);
  background-image: -o-linear-gradient(top, #297079, #24626a);
  background-image: linear-gradient(#297079, #24626a);
  border-color: #24626a #24626a hsl(187, 49%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}*/
